*{
    margin: 0;
    padding: 0;
}

.nav-item{
    border: 1px solid white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-right: 9px;
/* me-2 use instead */
   
}
.nav-item a:hover{
    background-color: rgb(143, 141, 3);
    color: rgb(42, 36, 36) !important;
}


.container-cf div{
   
    height: 100px;
    background-color: green;
    
}
.primenav{
    float: left;
    padding-top: 32px;
}
/* .mainhead{
    float:right;
} */
.primenav ul li {
    display: block;
    float: left;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 50px;
   
   
}
.listitem a{
    text-decoration: none;
   
}
.listitem a:hover{
    background-color: teal;
    color: black !important;
}
.banner{
    background-image: url('../images/');
}
.primenav ul li a .circle {
    width: 106px;
    height: 106px;
    margin: -53px 0 0 -53px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.primenav ul li a .hcircle {
    width: 0;
    height: 0;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
}

 .form{
    
    width: 400px;
    border: 1px solid rgb(222, 218, 218);
    background-color: beige;
    margin-top: 30px;
    padding: 30px 40px;
     
} 
.input-control{
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative;
} 

.log_button{
    width: 100%;
    background-color: green;
}

/* .input-control  small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}
.input-control.error small{
    border-color:red;
    visibility: visible;
}

.input-control.success input{
    border-color: green;
}
.input-control.error input{
    border-color: red;
} */

#form #email_error,
#form #pass_error{
    margin-top: 5px;
    width: 345px;
    font-size: 18px;
    color: #c62828;
    background: rgba(255,0,0,0.1);
    text-align: center;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #EF9A9A;
    display: none;

}
