/* @media screen and (min-width:568) { */
    

.cards-wrapper{
    display: flex;
     text-align: justify;
   
}
.card{
    margin: 0 .5em;
    width: calc(100%/3);
}
.image-wrapper{
    height: 22w;
    display: flex;
    align-items: center;
    justify-items: center;
}

.image-wrapper img{
    max-width: 100%;
   max-height: 100%;
  
}

@media screen and (max-width:567){
    .card:not(:first-child){
        display: none;
    }
}


.input-control{
    /* margin-bottom: 10px;
    margin-top: 20px; */
    position: relative;
   
   
} 

.input-control small{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.input-control.error small{
    color: red;
    visibility: visible;
}

.input-control.success input{
    border-color: green;

}
.input-control.error input{
    border-color:red;
    
}
